<div class="container">
  <div class="row row-cols-2 row-cols-lg-3">
    <div class="col">Contact</div>
    <div class="col">Contact</div>
    <div class="col">Contact</div>
    <div class="col">Contact</div>
    <div class="col">Contact</div>
    <div class="col">Contact</div>
    <div class="col-4 col-lg-2">Contact</div>
    <div class="col-4 col-lg-2">Contact</div>
    <div class="col-4 col-lg-2">Contact</div>
    <div class="col-4 col-lg-2">Contact</div>
    <div class="col-4 col-lg-2">Contact</div>
    <div class="col-4 col-lg-2">Contact</div>
  </div>
</div>