<div
    class='container d-flex justify-content-center align-items-center'
    style='height: 60vh'
>

    <div class='row d-flex justify-content-center'>
        <div class='col-6 border border-danger rounded pt-2'>
            <h3>Có lỗi xảy ra!!</h3>
            <p>{{message}}</p>
        </div>
    </div>

</div>