<div class='container'>
    <h1>
        News Page
    </h1>

    <a href='/news/courses'>
        Course API
    </a>
    <a href='/news/users'>
        User API
    </a>
    <a href='/news/new2'>
        new2
    </a>
</div>