<div class="container search-form mt-5 mb-5">
  <form method="POST">
    <div class="mb-3">
      <label for="search-input" class="form-label">Search</label>
      <input
        type="text"
        class="form-control"
        id="search-input"
        placeholder="Input to search..."  
        name="name"
      />
          <input
        type="text"
        class="form-control"
        id="search-input"
        placeholder="Input to search..."
        name="email"
      />
   <select name="gender">
     <option value="">--select gender--</option>
     <option value="male">male</option>
     <option value="female">female</option>
   </select>
    <button type="submit" class="btn btn-primary mt-4">Search</button>
  </form>
</div>