<div class='container mt-5 mb-5'>
    <div class='row'>
        <div
            class='col-12 col-md-6 col-lg-6'
            style='height: 40vh; overflow-x: scroll'
        >
            <table class='table'>
                <thead>
                    <tr>
                        <th scope='col'>
                            Title
                        </th>
                        <th scope='col'>
                            Slug
                        </th>
                        <th scope='col'>
                            videoId
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each courses}}
                        <tr>
                            <td>
                                {{this.title}}
                            </td>
                            <td>
                                {{this.slug}}
                            </td>
                            <td>
                                {{this.video}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class='col-12 col-md-6 col-lg-6'>
            <form method='POST' action='/courses/store'>
                <div class='form-group'>
                    <label for='title'>
                        Tên khoá học
                    </label>
                    <input
                        type='text'
                        class='form-control'
                        placeholder=' Tên khoá học'
                        id='title'
                        name='title'
                        required
                    />
                </div>
                <div class='form-group'>
                    <label for='description'>
                        Mô tả khoá học
                    </label>
                    <input
                        type='text'
                        class='form-control'
                        placeholder='Mô tả khoá học'
                        id='description'
                        name='description'
                        required
                    />
                </div>
                <div class='form-group'>
                    <label for='video'>
                        Video Youtube Id
                    </label>
                    <input
                        type='text'
                        class='form-control'
                        placeholder='Video Youtube Id'
                        id='video'
                        name='video'
                        required
                    />
                </div>
                <button type='submit' class='btn btn-primary'>
                    Tạo khoá học
                </button>
            </form>
        </div>
    </div>
</div>