<div class='container p-3 my-3 text-black'>
    <div class='row mt-5 mb-5'>
        <div class='col-0 col-sm-4 col-md-4 col-lg-3'>
            <div class='d-flex flex-column justify-content-center'>
                <button
                    type='button'
                    class='btn btn-success mt-5 d-flex justify-content-center'
                >
                    Học ngay
                </button>
                <p class='mt-4'>
                    {{course.description}}
                </p>
                <span>
                    Số lượt xem:
                    <kbd>
                        {{course.students_count}}
                    </kbd>
                </span>
            </div>
        </div>
        <div class='col-12 col-sm-8 col-md-8 col-lg-9'>
            <div class='d-flex flex-column justify-content-center'>
                <h1
                    class='display-4 text-white bg-secondary d-flex justify-content-center p-3 rounded'
                >
                    {{course.title}}
                </h1>
                <div class='youtube mt-4 mb-4'>
                    <iframe
                        width='640'
                        height='360'
                        src='https://www.youtube.com/embed/{{course.video}}'
                        title='YouTube video player'
                        frameborder='0'
                        allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
                        allowfullscreen
                    ></iframe>
                </div>
            </div>
        </div>
    </div>
</div>