<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <div class='container'>
        <a class='navbar-brand' href='/'>
            <img
                style='height: 50px; border-radius: 999px;'
                src='/img/Bad.png'
                alt=''
            />
        </a>
        <button
            class='navbar-toggler'
            type='button'
            data-toggle='collapse'
            data-target='#navbarSupportedContent'
            aria-controls='navbarSupportedContent'
            aria-expanded='false'
            aria-label='Toggle navigation'
        >
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav mr-auto' style='--bs-scroll-height: 100px;'>
                <li class='nav-item'>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/courses'>
                        Khoá học
                    </a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/videos'>
                        Videos
                    </a>
                </li>
            </ul>
            <li class='nav-item dropdown'>
                <a
                    class='nav-link p-0 text-light dropdown-toggle'
                    href='#'
                    id='navbarDropdown'
                    role='button'
                    data-toggle='dropdown'
                    aria-haspopup='true'
                    aria-expanded='false'
                >
                    <img
                        class='user_avatar mr-2'
                        src='https://scontent.fhan15-2.fna.fbcdn.net/v/t39.30808-6/273644546_1115594742627888_1943189319806226913_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=h0k7uUAy5_AAX_6Kwaf&tn=QljLL9WGhCqSfhFU&_nc_ht=scontent.fhan15-2.fna&oh=00_AT_Xj2eUM3WVV01cGhz0qHrhMhikTn2_UFHSneNioDnvIA&oe=6255CC97'
                        alt=''
                    />
                    Vương Trương
                </a>
                <div class='dropdown-menu' aria-labelledby='navbarDropdown'>

                    {{! <div class='dropdown-divider'></div> }}

                    <a class='dropdown-item' href='/user/stored/courses'>
                        Quản lý khoá học
                    </a>

                    <a class='dropdown-item' href='/user/stored/videos'>
                        Quản lý video
                    </a>

                    <div class='dropdown-divider'></div>
                    <a class='dropdown-item' href='#'>
                        Đăng xuất
                    </a>
                </div>
            </li>
        </div>
        {{#if showLogin}}
            <a href='/login'>Login</a>
        {{/if}}

    </div>
</nav>