<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <div class='container'>
        <a class='navbar-brand' href='/'>
            <img
                style='height: 50px; border-radius: 999px;'
                src='/img/Bad.png'
                alt=''
            />
        </a>

        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav mr-auto' style='--bs-scroll-height: 100px;'>
                <li class='nav-item'>
                    <a class='nav-link' href='/blog'>
                        Blog
                    </a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/courses'>
                        Courses
                    </a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/videos'>
                        YT-Favourite
                    </a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/news'>
                        News
                    </a>
                </li>
            </ul>
            <li class='nav-item dropdown'>
                <a
                    class='nav-link text-light dropdown-toggle'
                    href='#'
                    id='navbarDropdown'
                    role='button'
                    data-toggle='dropdown'
                    aria-haspopup='true'
                    aria-expanded='false'
                >
                    <img
                        class='user_avatar mr-2'
                        src='https://scontent.fhan15-2.fna.fbcdn.net/v/t39.30808-6/273644546_1115594742627888_1943189319806226913_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=h0k7uUAy5_AAX_6Kwaf&tn=QljLL9WGhCqSfhFU&_nc_ht=scontent.fhan15-2.fna&oh=00_AT_Xj2eUM3WVV01cGhz0qHrhMhikTn2_UFHSneNioDnvIA&oe=6255CC97'
                        alt=''
                    />
                    Vương Trương
                </a>
                <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
                    <a class='dropdown-item' href='/courses/create'>
                        Thêm khoá học
                    </a>
                    <a class='dropdown-item' href='/videos/create'>
                        Thêm video
                    </a>
                    <div class='dropdown-divider'></div>

                    <a class='dropdown-item' href='/user/stored/courses'>
                        Khoá học của tôi
                    </a>

                    <a class='dropdown-item' href='/user/stored/videos'>
                        Video của tôi
                    </a>

                    <div class='dropdown-divider'></div>
                    <a class='dropdown-item' href='#'>
                        Đăng xuất
                    </a>
                </div>
            </li>
        </div>
    </div>
</nav>