<div class='container mt-5 mb-5'>
    <div class='row'>

        <div class='col-12 col-md-6 col-lg-6'>
            <form method='POST' action='/videos/store'>
                <div class='form-group'>
                    <label for='title'>
                        Tên video
                    </label>
                    <input
                        type='text'
                        class='form-control'
                        placeholder=' Tên video'
                        id='title'
                        name='name'
                        required
                    />
                </div>
                <div class='form-group'>
                    <label for='description'>
                        Mô tả video
                    </label>
                    <input
                        type='text'
                        class='form-control'
                        placeholder='Mô tả video'
                        id='description'
                        name='description'
                        required
                    />
                </div>
                <div class='form-group'>
                    <label for='video'>
                        Video Youtube Id
                    </label>
                    <input
                        type='text'
                        class='form-control'
                        placeholder='Video Youtube Id'
                        id='video'
                        name='videoId'
                        required
                    />
                </div>
                <button type='submit' class='btn btn-primary'>
                    Tạo video
                </button>
            </form>
        </div>
    </div>
</div>